<!DOCTYPE html>
<html>
<head>
  <title>iFrame Demo App</title>
  
  <%= javascript_include_tag 'http://shop1.localhost:3000/admin/api/ee3d3f7a54f3338236e6351b58edc8bc/api.js' %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= render '/flashes' %>
  
</head>
<body>

<%= yield %>

</body>
</html>
